nav{
    padding: 10px 0px;
    .col-lg-3{
        @include Flex(flex-start,center,row,0px);
    }
    .logo{  

        img{
            width: 100%;
            height: 64px;
            object-fit: contain;
        }
    }
    ul{
        @include Flex(center,center,row,40px);
        li{cursor: pointer;
           padding: 4px 0px;
           @include Font(1rem,20px,500,$blac_color);
        
        }

    }
}